<!DOCTYPE html>

<html>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-charts/0.2.7/angular-charts.min.js"></script>

    <script src="~/app/services/service.module.js"></script>
    <script src="~/app/services/transaction.service.js"></script>
    <script src="~/app/services/user.service.js"></script>
    @* add script *@
    <script src="~/app/app.module.js"></script>
    <script src="~/app/transactions/transaction.controller.js"></script>
    <script src="~/app/users/user.controller.js"></script>

    <script src="~/app/routes/app.route.js"></script>

    @* <link rel="stylesheet" href="~/app/transactions/transactions.css"> *@

    <link rel="stylesheet" href="~/css/transaction.css"/>
    <title>Hello Admin</title>
</head>
<body>
@RenderBody()

<div ng-app="admin">
    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <a href="#" class="active item">Home</a>
            <a href="#!users" class="item">Users</a>
            <a href="#!transactions" class="item">Transactions</a>
            
            <div class="right menu">
                <div class="ui fluid category search" id="searching-field">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search ...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div ng-view></div>
</div>

@* <div ng-include="app/homepage.html"></div> *@
</body>
</html>