<!-- <link rel="stylesheet" href="app/transactions/transactions.css"> -->
<div ng-controller="transactionController as vm">
    <div class="ui container">
        <h2 class="ui header">Transactions</h2>
        <table class="ui inverted green table" align="center" style="table-layout: fixed">
            <tr>
                <th>Transaction ID</th>
                <th>User</th>
                <th>Full name</th>
                <th>Hash</th>
                <th>Address</th>
                <th>Country</th>
            </tr>
            <tr ng-repeat="transaction in vm.transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.user.username}}</td>
                <td>{{transaction.user.lastName}} {{transaction.user.firstName}}</td>
                <td>{{transaction.hash}}</td>
                <td>{{transaction.address}}</td>
                <td>{{transaction.country.countryName}}</td>
            </tr>
        </table>
        <table id="thistable" align="center">
            <tr id="pages-list">
                <td ng-repeat="pageNumber in vm.numberOfPages">
                    <div ng-include="'app/transactions/pagenumber.html'"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- <div ng-controller="PolarAreaCtrl">
    <div ng-include="charts/chart.html"></div>
</div> -->
